.fontStyleScript{
	font-family: "Style Script";
}
.fontSwanky{
	font-family: "Swanky";
}

body{
	margin: 0px;
	padding: 0px;
	position: absolute;
	font-family: "Delius";


}
h1{
	margin:0px;
}
h3{
	margin: 0px;
}
