@font-face {
	font-family: "Style Script";
	src: local("Style_Script"),
	 url("../fonts/Style_Script/StyleScript-Regular.ttf");
	font-weight: normal;
   }
@font-face {
	font-family: "Delius";
	src: local("Delius"),
	 url("../fonts/Delius/Delius-Regular.ttf");
	font-weight: normal;
   }
@font-face {
	font-family: "Swanky";
	src: local("Swanky_and_Moo_Moo"),
	 url("../fonts/Swanky_and_Moo_Moo/SwankyandMooMoo-Regular.ttf");
	font-weight: normal;
   }

